<div id='admin-login'>
  <h1>Please enter Admin password</h1>
  <form method='post' action='/admin/login'>

    <input type="text" name="password">
    <input type='submit' value='Login'>
    
  </form>

</div>