<!DOCTYPE html>
<html>
<head>
  <title>Table Tennis CodeClan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/ttbat.png" />
  <link rel="stylesheet" href="/styles/normalize7.css">

</head>
<body>


<section>
  <%= yield  %>
</section>

</body>
</html>