<!DOCTYPE html>
<html>
<head>
  <title>Table Tennis CodeClan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/ttbat.png" />
  <link rel="stylesheet" href="/styles/normalise7.css">

</head>
<body>

<section>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/game/new">Add Result</a></li>
    <li><a href="/player/new">Add Player</a></li>
    <li><a href="/player/index">All Players</a></li>
    <li><a href="/admin/login">Admin Login</a></li>
  </ul>
</section>

<section>
  <%= yield  %>
</section>

<footer>
  <p>CodeClan</p>
</footer>

</body>
</html>
