<!DOCTYPE html>
<html>
<head>
  <title>Table Tennis CodeClan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/ttbat.png" />
  <link rel="stylesheet" href="/styles/materialize.min.css">
</head>
<body>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/game/new">Add Game</a></li>
    <li><a href="/player/new">Add Player</a></li>
    <li><a href="/player/index">All Players</a></li>
    <li><a href="/admin/login">Admin Login</a></li>
  </ul>
</nav>

<main>
  <%= yield  %>
</main>

<footer>
  <p>CodeClan</p>
</footer>

</body>
</html>
