<div id='new-player'>
  <h1>New Player</h1>
  <form method='post' action='/player/new'>
    <label>Name:</label>
    <input type="text" name="p_name">

    <input type="submit" value="Add Player">
  </form>
</div>